html,body {
    margin: auto;
    padding: 5px;
}

h5{
    font-weight: bold;
}

p1{
    font-size: 14px;
    color: #2C3E50;
}



:root {
    --gradient: linear-gradient(
        45deg,
        #845ec2,
        #d65db1,
        #ff6f91,
        #ff9671,
        #ffc75f,
        #f9f871
    );
}


h1 {
    font-size: 70px;
    font-weight: bold;
    font-family: "Roboto" , sans-serif;
    color: #000033;
    margin-top: 0;
    margin-left: 210px;

    background-image: var(--gradient);
    -webkit-background-clip: text;
    color: transparent;
    background-size: 300%;
    animation: bg-animation 4s infinite alternate;
}

@keyframes bg-animation {
    0% {
        background-position: left;
    }
    100% {
        background-position: right;
    }
}

p  {
    color:black;
    
}

.card-deck {
   margin-top: 100px;
   margin-left: 0px;
   font-family: "Roboto", sans-serif;
   
}

.card {
    background-color: #E8DAEF;
    font-family: 'Roboto', sans-serif;
    border: none;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 5px 5px 12px #000033;
    transition: 0.8s ease;
    cursor: pointer;
}

 .card:hover {
     transform: scale(1.2);
     box-shadow: 5px 5px 12px #000033;
}

.countdownContainer{
    position: absolute;
    text-align: center;
    color: #FBEEE6;
    font-weight: bold;
    background: #6C3483;
    border: 1px solid #999;
    padding:5px;
    box-shadow: 0 0 5px 3px #000033;
    margin-top: 0px;
    margin-left: 580px;
}

.info{
    font-size: 16px;
}

.cardFooter1, .cardFooter2, .cardFooter3, .cardFooter4, .cardFooter5, .cardFooter6{
    color: #5B2C6F;
    font-weight:bold;
}

.cardTitle1, .cardTitle2, .cardTitle3, .cardTitle4, .cardTitle5, .cardTitle6{
    color: #5B2C6F;
    
}